# Browsers you care about for autoprefixing. Browserlist https://github.com/ai/browserslist
# The following list is set as per WordPress requirements in addition to our GA stats.
last 2 versions
> 1%
ie >= 10
last 1 Android versions
last 1 ChromeAndroid versions
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 iOS versions
last 2 Edge versions
last 2 Opera versions
