select {
  -moz-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  background-image: url('../../images/icons/icon-chevron-down-gray.svg');
  background-position: 96% 50%;
  background-repeat: no-repeat;
  background-size: 12px;
  width: 100%;
}
