%btn {
  background: none;
  border: none;
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.5em;
  padding: 12px 24px;

  &:hover {
    text-decoration: none;
  }
}

%btn--text-sm {
  font-size: 14px;
  padding: 8px;
}

%btn--solid-default {
  background-color: $color-primary-light;
  color: $color-white;
  opacity: .9;

  &:hover {
    background-color: $color-primary-light;
  }
}

%btn--outline-default {
  background-color: $color-white;
  border: 1px solid $color-secondary-light;
  color: $color-secondary-light;
}
