html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
}

.clearfix {
  &::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.sr-only {
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

// ------------------------------
// Utility Classes
// ------------------------------
@each $key, $value in $colors {
  .bg--#{$key} {
    background-color: $value;
  }

  .text--#{$key} {
    color: $value;
  }
}
