@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin horizontal-list {
  @include reset-list;
  display: flex;

  li {
    display: block;
    position: relative;

    a {
      display: block;
    }
  }
}
