// ------------------------------
// Breakpoints
// ------------------------------
$breakpoint-sm-min: map-get($grid-breakpoints, sm);
$breakpoint-md-min: map-get($grid-breakpoints, md);
$breakpoint-lg-min: map-get($grid-breakpoints, lg);
$breakpoint-xl-min: map-get($grid-breakpoints, xl);

// Note: Avoid max-width, do mobile first!
$breakpoint-sm-max: ($breakpoint-md-min - 1);
$breakpoint-md-max: ($breakpoint-lg-min - 1);
$breakpoint-lg-max: ($breakpoint-xl-min - 1);

// ------------------------------
// Colors
// ------------------------------
$colors: (
  'black': #000,
  'red': #df0523,
  'blue': #00f,
  'green': #63b00f,
  'white': #fff,
);

// Brand Colors
$brand-colors: (
  primary: #1a3660,
  secondary: #0088cf,
  accent: #ffbe13,
);

$all-colors: map-merge($colors, $brand-colors);

$color-primary: map-get($brand-colors, 'primary');
$color-primary-dark: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 10%);
$color-primary-transparent: rgba($color-primary, .6);

$color-secondary: map-get($brand-colors, 'secondary');
$color-secondary-dark: darken($color-secondary, 10%);
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-transparent: rgba($color-secondary, .6);

$color-accent: map-get($brand-colors, 'accent');
$color-accent-dark: darken($color-accent, 10%);
$color-accent-light: lighten($color-accent, 10%);
$color-accent-transparent: rgba($color-accent, .6);

// Utility Colors
$success: map-get($colors, 'green');
$error: map-get($colors, 'red');
$text-body: map-get($colors, 'black');


// ------------------------------
// Fills
// ------------------------------


// ------------------------------
// Text
// ------------------------------



// ------------------------------
// Fonts
// ------------------------------

