// stylelint-disable sh-waqar/declaration-use-variable, indentation, value-list-comma-space-after
@font-face {
  font-display: swap;
  font-family: icomoon;
  font-style: normal;
  font-weight: 400;
  src: url('../../../../../fonts/icomoon/icomoon.woff?ltucd3') format('woff'),
       url('../../../../../fonts/icomoon/icomoon.ttf?ltucd3') format('truetype'),
       url('../../../../../fonts/icomoon/icomoon.svg?ltucd3#icomoon') format('svg');
}
