$colors: (
  'black': #000,
  'red': #df0523,
  'green': #63b00f,
  'white': #fff,
  'grey': #f2f2f2,
  'mid-grey': #999,
  'dark-grey': #333,
  'label-grey': #4d535b
);

$all-colors: map-merge($colors, $brand-colors);

// Utility Colors
$form-label: map-get($colors, 'label-grey');
$success: map-get($colors, 'green');
$error: map-get($colors, 'red');
$text-body: map-get($colors, 'black');
$color-white: map-get($colors, 'white');
$color-black: map-get($colors, 'black');
$color-grey: map-get($colors, 'grey');
$color-mid-grey: map-get($colors, 'mid-grey');
$color-dark-grey: map-get($colors, 'dark-grey');
